.high-scores-container{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    }

.high-scores-table{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.header-row{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: aqua;
  color: black;
  height: auto;
  width: 100%;
}
.score-row {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 10px;
  }

.score-row-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.username, .totalscore, .date-finished {
    flex-basis: 40%;
    text-align: center; 
  }

.even-row{
background-color: blue;
padding: 10px;
border-radius: 5px;
}

.odd-row{
background-color: aqua;
color: black;
padding: 10px;
border-radius: 5px;
}

.user-page-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user-quiz-info{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: auto;
  
}